*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray:hsl(196, 8%, 73%);
  --darkgray: hsl(225, 6%, 49%);
  --beige: hsl(33, 21%, 90%);
  --pink: hsl(15, 29%, 79%);
  --ltgray: hsl(210, 6%, 94%);
  --brown: hsl(64, 8%, 36%);
  --paddingX: 2rem;
  --paddingY: 1.5rem;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

body {
  font-family: var(--font-sans);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--beige);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  padding-left: 30px 10%;
  z-index: 11;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--brown);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.menuli {
  list-style: none;
}

.menuli li {
  display: inline-block;
  padding: 0px 30px;
}

.menuli li a {
  text-decoration: none;
  color: var(--brown);
  font-family: var(--font-mono);
}

.menuli li a:hover {
  color: var(--pink);
}

.side {
  width: 40px;
  position: fixed;
  bottom: 0px;
  color: var(--brown);
  left: 20px;
  right: auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  list-style: none;
  margin: 0px;
  list-style-type: none;
}

.social li a {
  padding: 10px;
}

.social li a svg {
  width: 20px;
  height: 20px;
}

.social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--brown);
}

.rightside {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--brown);
}

main {
  padding: 0px 150px;
}

.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}

.fadeup h1 {
  margin: 0px 0px 30px 4px;
  color: var(--brown);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}

.big {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.fadeup p, p {
  margin: 20px 0px 0px;
  max-width: 500px;
  font-family: var(--font-mono);
  line-height: 1.3;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--brown);
  line-height: 1.1;
}

.aboutme {
  max-width: 900px;
}

.inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.aboutPhoto {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 10px 30px -15px var(--brown);
          box-shadow: 0 10px 30px -15px var(--brown);
  margin: 0px;
}

.aboutPhoto img {
  position: relative;
  max-width: 250px;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 768px) {
  .aboutme .inner {
    display: block;
  }
  .aboutPhoto {
    margin: 50px auto 0px;
    width: 70%;
  }
}

.dream h1 {
  font-family: 'Dancing Script', cursive;
  color: var(--brown);
  font-size: 60px;
}

.myHobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.hobbys-grid {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

@media (max-width: 950px) {
  .hobbys-grid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.hobbydiv {
  -webkit-box-shadow: 0 10px 30px -15px var(--brown);
          box-shadow: 0 10px 30px -15px var(--brown);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 1.5rem 1.5rem;
  border-radius: 4px;
  /* transition: var(--transition); */
}

.dream h2, .hobbydiv h1 {
  font-family: 'Dancing Script', cursive;
  color: var(--beige);
  font-size: 40px;
}

.hobbydiv img {
  width: 250px;
  height: 250px;
}
/*# sourceMappingURL=style.css.map */